.holder {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: var(--background);
  border-bottom: 1px solid var(--theme-magenta);
}

.header {
  z-index: 1000;
  width: 100%;
  opacity: 1;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 7.5%;
  margin-bottom: 2em;
}

.hamburger {
  transition: all 250ms ease-in-out;
}

.navbarBtnOpen .hamburger {
  transform: rotate(0.625turn);
}

.navbarBtnOpen .hamburger > rect:first-child {
  transform: rotate(90deg) translate(0px, -33px);
}

.navbarBtnOpen .hamburger > rect:last-child {
  width: 90%;
  width: 0;
  opacity: 0;
}

.navbarBtn {
  width: 60px;
  z-index: 1000;
}

.myLogo {
  height: 60%;
  align-self: center;
}

.active::after {
  content: "";
  background-color: var(--theme-magenta);
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 8px;
}

.headerEnd {
  font-size: 1.2rem;
  width: 65%;
  display: flex;
  flex-direction: row;
  gap: 1.2em;
  justify-content: flex-end;

  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100vw);
    z-index: 100;
    display: flex;
    place-items: center;
    background-color: inherit;
    width: 100vw;
    height: 100vh;
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);

    &.revealed {
      transform: translateX(0);
    }

    & > ul {
      list-style: none;
      width: 80%;
      height: 90%;
      padding: 0;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    & a {
      text-decoration: none;
      position: relative;

      &:not(.active)::after {
        content: "";
        background-color: var(--text-primary);
        position: absolute;
        left: 0;
        bottom: -14px;
        width: 0;
        height: 8px;
        opacity: 0;
        transition: all 0.35s ease-in-out;
      }

      &:hover::after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .navbarBtn {
    display: none;
  }

  .headerEnd {
    .navbar {
      position: static;
      height: auto;

      & > ul {
        flex-direction: row;
        margin-right: 1em;
        gap: 1em;
      }
    }
  }
}
