.projects {
  height: auto;
}

.platformName {
  font-size: 1.8rem;
  color: var(--theme-cyan);
}

.platformProjects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(32rem, 100%), 1fr));
  gap: 3em;
}

.filters {
  display: grid;
  padding: 0.8em 0;
  grid-template-columns: repeat(auto-fill, minmax(min(24rem, 100%), 1fr));
}

.filter > input {
  margin-right: 6px;
}
